/* contains roots for repetative colors used */
:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* affects the background color for the whole page */
body {
    background-color: var(--light);
}
/* affects the my name its background color*/
.title {
    background-color: var(--secondary);
    padding: 10px;
}
/* applies affects to the header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 10px;
    color: var(--dark)
    
}
/* applies affects to my name and its background color */
.title h1 {
    margin: 0;
    font-size: 24px;
    background-color:var(--secondary);
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: sans-serif;
    font-size: 20px;
}
/* applies affects to the navigation bar */
.nav-buttons {
    display: flex;
}

.nav-buttons li {
    list-style: none;
    margin-left: 25px;
    text-decoration: underline var(--secondary);
    border: none;
    padding: 10px 20px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--secondary);
}
/* applies affects to the banner */
.banner {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/Banner.webp");
    background-size: cover;
    background-position: center;
}

.banner p {
    color:black;
    float: right;
    margin-top: 140px;
    background-color: var(--secondary);
    display: inline-block;
    font-size: 40px;
    margin-right: 70px;
    font-weight: bold;
    font-family: sans-serif;
}

.body {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* applies affects to the side title */
.sidetitle {
    flex-basis: 20%;
    margin-right: 20px;
    font-family: sans-serif;
    padding: 160px;
    border-right: 3px solid var(--dark);
    font-size: 30px;
}
/* applies affects to the section containing the description about me */
.context {
    flex-basis: 70%;
}

.context p {
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    border-right: 2px solid var(--dark);
    padding-right: 20px;
    margin-right: 20px;
}

.title h1 {
    margin: 0;
}

.content {
    flex: 1;
}
/* applies affects to my work boxes */
.largebox {
    display: block;
    background-image: url('./images/Police\ hire\ photo.jpg');
    background-size: cover;
    background-position: center;
    height: 370px;
    padding: 130px;
}

.text {
    float: left;
    background-color: var(--secondary);
    padding: 20px;
}

text h2 {
    margin: 0;
}

.text p {
    margin: 10px 0 0;
}
/* applies affects to the small boxes */
.smallbox {
    width: 200px;
    height: 150px;
    background-image: url('./images/Police\ hire\ photo.jpg');
    background-size: cover;
    background-position: center;
    margin: 10px;
}  

.smalltext {
    background-color: var(--secondary);
    padding: 10px;
}